html {
    scroll-behavior: smooth;
}
section {
    height: 100vh;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
header, footer {
    color: #fff;
    text-align: center;
    height: 100px;
}
header {
    position: sticky;
    top: 0;
    font-size: 5em;
}
footer{
    background-color: #000;
    position: fixed;
    bottom: 0;
}
a:visited {
    color: #fff;

}
.social {
    background-color: royalblue;
    color:#fff;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
}
a:hover {
    color: red;
}